# Python: Advanced Looping and Pattern Practice
This notebook explores advanced uses of loops in Python, including nested loops, pattern generation, and practical string and list processing. Each section includes clear explanations and well-commented code to help you understand the logic step by step.

## Counting Letters and Numbers in a String
In this section, we'll write a Python program that takes a string from the user and counts how many characters are letters (A-Z, a-z) and how many are digits (0-9). This is a common task in data validation and text analysis.

In [23]:
# Ask the user to enter a string
user_input = input("Type any string: ")
letter_count = 0  # This will count alphabetic characters
digit_count = 0   # This will count numeric digits
for char in user_input:
    if char.isalpha():  # Checks if the character is a letter (A-Z or a-z)
        letter_count += 1
    elif char.isdigit():  # Checks if the character is a digit (0-9)
        digit_count += 1
    # Any other character (like spaces or punctuation) is ignored
print(f"Letters: {letter_count}")  # Output the number of letters
print(f"Digits: {digit_count}")    # Output the number of digits

Letters: 5
Digits: 0

## Password Strength Validator
Let's create a password checker that ensures the password is strong. We'll check for:
- At least one lowercase letter (a-z)
- At least one uppercase letter (A-Z)
- At least one digit (0-9)
- At least one special character from [!%&?@]
- Length between 8 and 16 characters
This is useful for enforcing good security practices.

In [24]:
import re  # Import the regular expressions module for pattern matching
# Ask the user to enter a password
password = input("Enter a password to validate: ")
# Check all password requirements using regular expressions and length checks
if (8 <= len(password) <= 16 and  # Password length must be between 8 and 16
    re.search(r"[a-z]", password) and  # At least one lowercase letter
    re.search(r"[A-Z]", password) and  # At least one uppercase letter
    re.search(r"[0-9]", password) and  # At least one digit
    re.search(r"[!%&?@]", password)):  # At least one special character
    print("Password is strong!")
else:
    print("Password does not meet the requirements.")

Password does not meet the requirements.

# Nested Loops in Python
Nested loops are loops inside other loops. They are useful for working with grids, tables, or any data that has multiple dimensions. Let's see how they work with some examples.

In [25]:
# Print coordinates in a 3x5 grid using nested loops
for row in range(1, 4):  # Outer loop for rows (1 to 3)
    for col in range(1, 6):  # Inner loop for columns (1 to 5)
        print(f"({row},{col})", end=" ")  # Print each coordinate on the same line
    print()  # Move to the next line after each row

(1,1) (1,2) (1,3) (1,4) (1,5)
(2,1) (2,2) (2,3) (2,4) (2,5)
(3,1) (3,2) (3,3) (3,4) (3,5)

## Example: Multiplication Table (5x5)
A multiplication table is a classic use of nested loops. The outer loop picks the row, and the inner loop calculates the product for each column.

In [26]:
# Print a 5x5 multiplication table
for i in range(1, 6):  # Rows from 1 to 5
    for j in range(1, 6):  # Columns from 1 to 5
        print(f"{i*j:2}", end=" ")  # Print the product, formatted for alignment
    print()  # Newline after each row

 1  2  3  4  5
 2  4  6  8 10
 3  6  9 12 15
 4  8 12 16 20
 5 10 15 20 25

## Example: Print a Right-Angled Triangle of Hashes
This pattern uses a single loop to print a triangle shape. Each row contains one more hash symbol than the previous row.

In [27]:
# Print a right-angled triangle using '#' symbols
for i in range(1, 7):  # Loop from 1 to 6
    print('#' * i)  # Print i hash symbols on each line

#
##
###
####
#####
######

## Example: Inverted Number Triangle
This pattern prints rows of numbers, starting with the largest and decreasing the count each row. It's a good example of using a loop that counts down.

In [28]:
n = 5  # Number of rows
for i in range(n, 0, -1):  # Start from n and count down to 1
    for j in range(i):  # Print the current number i, i times
        print(i, end=" ")
    print()  # Newline after each row

5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

## Example: Nested List - Count Integers and Floats
Let's count how many integers and floats are in a nested list (a list of lists). This is useful for analyzing mixed data.

In [29]:
nested = [[1, 2.5, 3], [4.1, 5, 6.6], [7, 8.8, 9]]  # Example nested list
int_total = 0  # Counter for integers
float_total = 0  # Counter for floats
for sublist in nested:  # Loop through each sublist
    for value in sublist:  # Loop through each value in the sublist
        if isinstance(value, int):  # Check if value is integer
            int_total += 1
        elif isinstance(value, float):  # Check if value is float
            float_total += 1
print(f"Integers: {int_total}, Floats: {float_total}")

Integers: 5, Floats: 4

## Example: Looping Through Multiple Lists
You can use nested loops to combine items from two lists. This is useful for generating all possible pairs or combinations.

In [30]:
colors = ["blue", "green", "yellow"]  # List of colors
animals = ["cat", "dog", "parrot"]  # List of animals
for color in colors:  # Outer loop for each color
    for animal in animals:  # Inner loop for each animal
        print(f"{color} {animal}")  # Print the combination

blue cat
blue dog
blue parrot
green cat
green dog
green parrot
yellow cat
yellow dog
yellow parrot

## Example: Find a Value in a List and Stop
Sometimes you want to search for a specific value in a list and stop searching as soon as you find it. The `break` statement is used for this purpose.

In [31]:
languages = ["Ruby", "Go", "Swift", "Rust", "Scala"]  # List of languages
for lang in languages:  # Loop through each language
    if lang == "Rust":  # If the language is 'Rust'
        print(f"Found {lang}! Exiting loop.")
        break  # Stop the loop immediately

Found Rust! Exiting loop.

## Example: Print a Pattern with Nested Loops
This example prints a pattern where each row contains the same number repeated. The number of repetitions increases with each row.

In [32]:
# Print a pattern where each row contains the row number repeated
for i in range(1, 6):  # Loop from 1 to 5
    for j in range(i):  # Print the current row number i, i times
        print(i, end=" ")
    print()  # Newline after each row

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

## Example: Prime Numbers Between 10 and 30
A prime number is only divisible by 1 and itself. We'll use nested loops to check each number in a range and print the primes.

In [33]:
# Print all prime numbers between 10 and 30
for num in range(10, 31):  # Loop from 10 to 30
    is_prime = True  # Assume the number is prime
    for div in range(2, int(num ** 0.5) + 1):  # Check divisibility up to square root of num
        if num % div == 0:  # If divisible, it's not prime
            is_prime = False
            break  # No need to check further
    if is_prime:
        print(f"{num} is prime")

11 is prime
13 is prime
17 is prime
19 is prime
23 is prime
29 is prime

## Example: Floyd's Triangle
Floyd's triangle is a right-angled triangle of consecutive numbers. Each row contains one more number than the previous row.

In [34]:
rows = 5  # Number of rows in the triangle
num = 1  # Start with 1
for i in range(1, rows + 1):  # Loop for each row
    for j in range(i):  # Print i numbers in the current row
        print(num, end=" ")
        num += 1  # Move to the next number
    print()  # Newline after each row

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

## Example: Inverted Half Pyramid with Numbers
This pattern prints numbers in decreasing row lengths, starting from the largest row.

In [35]:
# Print an inverted half pyramid with numbers
for i in range(6, 0, -1):  # Start from 6 and count down to 1
    for j in range(i):  # Print numbers from 0 up to i-1
        print(j, end=" ")
    print()  # Newline after each row

0 1 2 3 4 5
0 1 2 3 4
0 1 2 3
0 1 2
0 1
0

## 11) All coordinate pairs (3×4)
Print `(i, j)` pairs for `i in 0..2` and `j in 0..3`.

In [36]:
for i in range(3):
    for j in range(4):
        print(f"({i}, {j})")

(0, 0)
(0, 1)
(0, 2)
(0, 3)
(1, 0)
(1, 1)
(1, 2)
(1, 3)
(2, 0)
(2, 1)
(2, 2)
(2, 3)

## 12) Floyd’s Triangle (numbers)
Consecutive integers flowing row by row.

In [37]:
rows = 5
n = 1
for i in range(1, rows + 1):
    for _ in range(i):
        print(n, end=" ")
        n += 1
    print()

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

## 13) Multiplication table (1 to 10)
Use tabs for simple console alignment.

In [38]:
for i in range(1, 11):
    row = []
    for j in range(1, 11):
        row.append(str(i * j))
    print("\t".join(row))

1	2	3	4	5	6	7	8	9	10
2	4	6	8	10	12	14	16	18	20
3	6	9	12	15	18	21	24	27	30
4	8	12	16	20	24	28	32	36	40
5	10	15	20	25	30	35	40	45	50
6	12	18	24	30	36	42	48	54	60
7	14	21	28	35	42	49	56	63	70
8	16	24	32	40	48	56	64	72	80
9	18	27	36	45	54	63	72	81	90
10	20	30	40	50	60	70	80	90	100

## 14) Prime numbers in a range (with sqrt optimization)
Mark each as prime/non-prime using trial division up to `sqrt(n)`.

In [39]:
import math

for n in range(2, 30):
    is_prime = True
    for d in range(2, int(math.sqrt(n)) + 1):
        if n % d == 0:
            print(n, "is not prime (divisible by", d, ")")
            is_prime = False
            break
    if is_prime:
        print(n, "is prime")

2 is prime
3 is prime
4 is not prime (divisible by 2 )
5 is prime
6 is not prime (divisible by 2 )
7 is prime
8 is not prime (divisible by 2 )
9 is not prime (divisible by 3 )
10 is not prime (divisible by 2 )
11 is prime
12 is not prime (divisible by 2 )
13 is prime
14 is not prime (divisible by 2 )
15 is not prime (divisible by 3 )
16 is not prime (divisible by 2 )
17 is prime
18 is not prime (divisible by 2 )
19 is prime
20 is not prime (divisible by 2 )
21 is not prime (divisible by 3 )
22 is not prime (divisible by 2 )
23 is prime
24 is not prime (divisible by 2 )
25 is not prime (divisible by 5 )
26 is not prime (divisible by 2 )
27 is not prime (divisible by 3 )
28 is not prime (divisible by 2 )
29 is prime

## 15) Names × ages (cartesian printing with two lists)
Print every combination of person and age.

In [40]:
people = ["Ava", "Liam", "Noah", "Mia"]
ages = [34, 54, 23, 43]
for person in people:
    for age in ages:
        print(f"{person} has {age}")

Ava has 34
Ava has 54
Ava has 23
Ava has 43
Liam has 34
Liam has 54
Liam has 23
Liam has 43
Noah has 34
Noah has 54
Noah has 23
Noah has 43
Mia has 34
Mia has 54
Mia has 23
Mia has 43

## 16) Triple nested loops (names × counts × car models)
Combine three dimensions of values to generate sentences.

In [41]:
names = ["Zoey", "Kai", "Imran"]
counts = [1, 4, 6]
cars = ["Benz", "Toyota", "BMW"]
for nm in names:
    for c in counts:
        for car in cars:
            print(f"{nm} has {c} car(s) {car}")

Zoey has 1 car(s) Benz
Zoey has 1 car(s) Toyota
Zoey has 1 car(s) BMW
Zoey has 4 car(s) Benz
Zoey has 4 car(s) Toyota
Zoey has 4 car(s) BMW
Zoey has 6 car(s) Benz
Zoey has 6 car(s) Toyota
Zoey has 6 car(s) BMW
Kai has 1 car(s) Benz
Kai has 1 car(s) Toyota
Kai has 1 car(s) BMW
Kai has 4 car(s) Benz
Kai has 4 car(s) Toyota
Kai has 4 car(s) BMW
Kai has 6 car(s) Benz
Kai has 6 car(s) Toyota
Kai has 6 car(s) BMW
Imran has 1 car(s) Benz
Imran has 1 car(s) Toyota
Imran has 1 car(s) BMW
Imran has 4 car(s) Benz
Imran has 4 car(s) Toyota
Imran has 4 car(s) BMW
Imran has 6 car(s) Benz
Imran has 6 car(s) Toyota
Imran has 6 car(s) BMW

Zoey has 1 car(s) Toyota
Zoey has 1 car(s) BMW
Zoey has 4 car(s) Benz
Zoey has 4 car(s) Toyota
Zoey has 4 car(s) BMW
Zoey has 6 car(s) Benz
Zoey has 6 car(s) Toyota
Zoey has 6 car(s) BMW
Kai has 1 car(s) Benz
Kai has 1 car(s) Toyota
Kai has 1 car(s) BMW
Kai has 4 car(s) Benz
Kai has 4 car(s) Toyota
Kai has 4 car(s) BMW
Kai has 6 car(s) Benz
Kai has 6 car(s) Toyota
Kai has 6 car(s) BMW
Imran has 1 car(s) Benz
Imran has 1 car(s) Toyota
Imran has 1 car(s) BMW
Imran has 4 car(s) Benz
Imran has 4 car(s) Toyota
Imran has 4 car(s) BMW
Imran has 6 car(s) Benz
Imran has 6 car(s) Toyota
Imran has 6 car(s) BMW

## 17) Inverted triangle patterns
### A) Increasing label, decreasing width

In [42]:
rows = 5
label = 0
for width in range(rows, 0, -1):
    label += 1
    for _ in range(width):
        print(label, end=" ")
    print()

1 1 1 1 1
2 2 2 2
3 3 3
4 4
5

### B) Same digit per row (decreasing width)

In [43]:
rows = 5
digit = 5
for width in range(rows, 0, -1):
    for _ in range(width):
        print(digit, end=" ")
    print()

5 5 5 5 5
5 5 5 5
5 5 5
5 5
5

### C) Inverted half-pyramid with `0..k` each line
Each line starts at 0 and counts up; line width shrinks each step.

In [44]:
rows = 6
for width in range(rows, 0, -1):
    for n in range(width):
        print(n, end=" ")
    print()

0 1 2 3 4 5
0 1 2 3 4
0 1 2 3
0 1 2
0 1
0